
.box{
    background-color: #dfdfdf;
    border-radius: 30px 4px 30px 4px;
    padding: 2rem;

    margin-left: 25vw;
    margin-right: 25vw;
    margin-bottom: 15vh;
    margin-top: 15vh;

}

form{
    text-align: center;
}

.submit{
    margin-top: 0.83em;
    margin-bottom: 0.83em;
}

.grid{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
}

.right-side{
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: start;
    line-height: 25px;
}

.left-side {
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: end;
    margin-right: 10px;
    line-height: 25px;
}
