.logo{
    width: 45px;
    transition: width, 0.2s;
}

nav{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}

.loginTitle{
    font-weight: bold;
    color: white;
    transition: color 0.2s;
}

.loginTitle:visited {
    font-weight: bold;
    color: white;
    transition: color 0.2s;
}

.loginTitle:hover {
    color: #d8d8d8;
    transition: color 0.2s;
}

.logoutTitle{
    font-weight: bold;
    color: white;
    transition: color 0.2s;
}

.logoutTitle:visited {
    font-weight: bold;
    color: white;
    transition: color 0.2s;
}

.logoutTitle:hover {
    color: #d8d8d8;
    transition: color 0.2s;
}

.search-container{
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-left: 200px;
    position: relative;

}

.review-button {
    border-width: 0;
    margin: 0 10px;
    padding: 7px 15px 7px 15px;
    background-color: white;
    transition: background-color 0.2s;
    border-radius: 10px 2px 10px 2px;
    cursor: pointer;
    max-height: 32px;
}


.reviewTitle{
    color: #ffffff;
    transition: color 0.2s;
    font-size: 15px;
    font-weight: bold;
    background-color: #2c2c2c;
}

.reviewTitle:visited {
    color: #ffffff;
    transition: color 0.2s;
    font-size: 15px;
    background-color: #2c2c2c;
}

.filter-button{
    border-width: 0;
    margin: 0 10px;
    /*background: none;*/
    background-color: white;
    /*border: 1px solid black;*/
    transition: background-color 0.2s;
    border-radius: 2px 2px 10px 2px;
    cursor: pointer;
}

.add-icon {
    justify-content: start;
    width: 12px;
    margin-left: 8px;
    transition: filter, 0.5s;
    filter: brightness(0) saturate(100%) invert(100%) sepia(13%) saturate(5827%) hue-rotate(192deg) brightness(116%) contrast(94%);
}

#add-review-button {
    transition: background-color, 0.2s;
    background-color: #2c2c2c;
}

#add-review-button:hover {
    transition: background-color, 0.2s;
    background-color: #4a4a4a;
}

.filter-icon{
    justify-content: start;
    width: 18px;
    margin-top: 3px;
    transition: filter, 0.5s;
    filter: brightness(0) saturate(100%) invert(5%) sepia(32%) saturate(3551%) hue-rotate(358deg) brightness(96%) contrast(112%);
}

.filter-button .filter-icon:hover{
    transition: filter, 0.5s;
    filter: brightness(0) saturate(100%) invert(11%) sepia(60%) saturate(4042%) hue-rotate(351deg) brightness(106%) contrast(100%);
}

.filter-button .filter-icon:active{
    transition: filter, 0.3s;
    filter: brightness(0) saturate(100%) invert(43%) sepia(61%) saturate(2618%) hue-rotate(334deg) brightness(88%) contrast(93%);
}

.search-title{
    margin: 0;
    background-color: #e6e6e6;
    transition: background-color 0.2s;
    z-index: 100;
    font-weight: lighter;
    font-size: 1em;
    padding: 5px;
}

.search-title:hover {
    background-color: #cdcdcd;
    transition: background-color 0.2s;
}

.search-title:active {
    background-color: #ec5757;
    transition: background-color 0.2s;
}

.search-bar {
    width: 40vw;
    padding: 4px;
    height: 100%;
    max-height: 32px;
    font-size: 18px;
    border-style: none;
    transition: width, 0.4s;

}

.search-bar:focus {
    transition: width, 0.3s;
    width: 40vw;
}

.search-button {
    height: 32px;
    padding: 4px;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 18px;
    border-width: 0;
    background-color: white;
    border-radius: 10px 0 0 2px;
}

.dropdown{
    margin-top: 8px;
    overflow-y: auto;
    position: absolute;
    top: 100%;
    z-index: 1;
    display: none;
    max-height: 300px;
    width: 100%;
}
.search-bar:focus{
    outline: none;
    height: 140px;
}

.hide{
    display: none;
}
.nav-profile-picture-container{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #ddd;
    margin: 10px 0px;
}
.nav-profile-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.username {
    color: white;
}