{% load static %}

<head>
    <link rel="icon" type="image/x-icon" href="{% static 'images/logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/general.css' %}">
    <link rel="stylesheet" href="{% static 'css/reviews.css' %}">
</head>
<div id = "dark-background"></div>
<!--<button onclick="reviewPopUp()">Submit A Review</button>-->
<div class = "review-form">
    <button onclick="cancelForm()" id = "close-button" class="review-popup-button">X</button>
    <h1>Submit a Review</h1>
    
    <form action= "{% url 'add_review' %}" method = "post" enctype = multipart/form-data>
        {% csrf_token %}
    {{ review_form.as_p }}
        <label>Add Images: </label>
         <input type="file" multiple name="photos" accept=".jpg, .heic, .heif">

        <Button type = "submit" class="review-popup-button" id="review-submit-button">Submit Review</Button>
    </form>
</div>


<script>

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie != '') {
            const cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');

   function reviewPopUp()
   {
       document.getElementsByClassName("review-form")[0].style.display = "block";
       document.getElementById("body").style.overflow= "visible";
       document.getElementById("dark-background").style.display= "block";
       
       
   
   }
  
   function cancelForm()
   {
       document.getElementsByClassName("review-form")[0].style.display = "none";
       document.getElementById("body").style.overflow= "visible";
       document.getElementById("dark-background").style.display= "none";
   }

   let building_field = document.getElementById("id_building")
    let room_field = document.getElementById("id_room")
   building_field.addEventListener("change", getBuildingId)

   function getBuildingId(e){
       //console.log(e.target.value)
       let building_id = e.target.value

       const data = { id : building_id }
       let url = "{% url 'get_rooms' %}"

       fetch(url, {
           method: 'POST',
           headers: {
               'Content-Type': 'application/json',
               'X-CSRFToken': csrftoken,
           },
           body: JSON.stringify(data),
       })
           .then(response => response.json())
           .then(data => {
               console.log('Success:', data);
               room_field.innerHTML = '<option value="" selected="">------</option>'
               for(let i = 0; i < data.length; i++) {
                   room_field.innerHTML += `<option value=${data[i]["id"]} selected=''>${data[i]["roomNum"]}`
               }
           })
           .catch((error) => {
               console.error('Error:', error);
           });
   }
  
</script>
